/* public/fonts/fonts.css */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2'),
         url('/fonts/Inter-VariableFont_slnt,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-VariableFont_wght.woff2') format('woff2'),
         url('/fonts/Caveat-VariableFont_wght.woff') format('woff');
    font-weight: 400 700;
    font-style: normal;
  }
  